@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Amiko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
}

body {
  background-color: #fff;
  padding: 0;
}

.consultaDia {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  width: 300px;
  padding: 10px;
}

.consultaDia span {
  color: #7B7B7B;
  font-weight: 900;
}

.consultaDia input {
  background-color: white;
  border: white;
  width: 100%;
  height: 20px;
  font-weight: 900;
  color: #7B7B7B;
  text-align: center;
  padding: 10px;
}

.consultaDia input:focus {
  outline: none;
}

.search-button {
  background-color: white;
  border-radius: 15px;
  width: 50px;
  color: #7B7B7B;
}

footer

#kpis {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 30%;
}

#analytic {
  padding: 3%;
  height: fit-content;
}

#kpi {
  background-color: #141414;
  width: 25%;
  height: 100%;
  border-radius: 15px;
}

#alertas {
  width: 100%;
  height: 60%;
  justify-content: center;
}

#alerta-container {
  width: 92%;
  margin: 4%;
  height: fit-content;
  background-color: #141414;
  border-radius: 15px;
}

#analytic-container {
  height: max-content;
}

#alerta {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 2%;
}

#texto-alerta {
  padding-left: 2%;
  text-align: start;
}

.button-dash {
  width: 50px;
  height: 50px;

  background-color: #6248AE;

  border-radius: 50%;
  border: solid 1px #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.button-dash span {
  color: #fff;
  font-size: 200%;
  font-weight: 900;

  transition: 500ms;
}

.button-dash:hover span {
  transform: rotate(180deg);
}

.metrics {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
}

.metrics #container {
  background-color: #fff;
  height: 55vh;
  width: 45vw;
  border-bottom-left-radius: 2vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  border-top: #5042e7 solid 3px;
  border-bottom: #5042e7 solid 3px;
  border-left: #5042e7 solid 3px;
  border-right: #5042e7 solid 3px;
}

#metrics_adjustment .row {
  padding: 3vh;
}

.metrics #imagemLogo {
  display: flex;
  justify-content: flex-start;
  margin-top: 3vh;
}

.metrics #logo {
  margin-left: 1.5vw;
  background-size: cover;
  height: 6vh;
}

#metrics_adjustment h1 {
  margin-bottom: 10px;
  padding-left: 1.5vh;
}

#metrics_adjustment h4 {
  margin-bottom: 10px;
  padding-left: 1.5vh;
}

#metrics_adjustment ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
}

#metrics_adjustment li {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
}

#metrics_adjustment li:hover {
  background-color: #f0f0f0;
}

#inputs {
  padding-left: 3.5vh;
  margin-top: 0;
  font-size: 16px;
  text-align: center;
}

#inputs h4 {
  font-size: 1.5rem;
}

#inputs label {
  font-size: 16.5px;
  margin: 5px;
}

.spanAlerta {
  color: #eead2d;
}

.spanCritico {
  color: #FF0000;
}

input[type="number"] {
  padding: 8px;
  margin: 6px 0;
  border-radius: 5%;
  border: 1px solid #ccc;
}

.hidden button {
  margin-top: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6a5acd;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hidden button:hover {
  background-color: #5042e7;
}